@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right,#e2dbd5,#683c16);
}

main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #b364108c;
}

h1{
    color: #09da94;
    text-align: center;
    text-shadow: 1px 1px 2px #0F6466;
}

h2{
    color: #0F6466;
}

p {
    text-align: justify;
}

